[2016-03-10 15:25] rhsimplex opened #1 "Investigate use of "MoreLikeThis" query"
Per [this suggestion](https://news.ycombinator.com/item?id=11258131):

Look into [MoreLikeThis](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html) instead of BoolQuery

[2016-03-10 15:29] rhsimplex opened #2 "Signature Compression"
Currently the entire signature is stored as an array, and the words are stored as 32-bit(?) integers.  Investigate compression schemes.

[2016-03-10 16:08] rhsimplex opened #3 "Python 3 support"
Join the future of Python

[2016-03-14 12:31] rhsimplex opened #4 "Pypi support"
@sbellem has some ideas about fixing the setup... @vrde let's all discuss when you get back?

[2016-03-14 17:22] vrde commented on #4
:+1: sure!

[2016-03-24 00:21] jforjava1981 opened #9 "Query regarding image storage"
Hi

 I intend to try out this project in my application however I have a doubt regarding the add image call. Does it actually storing the image in elastic search server? I hope not. What I want to do is store the images elsewhere,possibly AWS S3 and use the URLs to add images though your app to elastic search and then search them whenever I want. If you store the images as well it is a double stor

[2016-03-24 00:22] jforjava1981 opened #10 "Query regarding image storage"
Hi

 I intend to try out this project in my application however I have a doubt regarding the add image call. Does it actually store the image in elastic search server? I hope not. What I want to do is store the images elsewhere,possibly AWS S3 and use the URLs to add images though your app to elastic search and then search them whenever I want. If you store the images as well it is a double storag

[2016-03-24 00:23] #9 closed, assigned to nobody

[2016-03-24 08:47] rhsimplex commented on #10
Hi @jforjava1981 , I see you already closed the issue but in case you are still wondering -- no, image-match does not store the images; it just stores the image signature and some additional information computed from the signature to aid in lookup.

[2016-03-24 08:48] #10 closed, assigned to nobody

[2016-03-24 11:08] rhsimplex commented on #4
See #7

[2016-03-24 11:08] #4 closed, assigned to nobody

[2016-03-29 13:01] sirioz opened #13 "Docker image not found"
I cannot pull docker image at ascribe/image-match. [not found]

[2016-03-29 15:47] sbellem commented on #13
Yes sorry about this, we had some weird problem to link github and dockerhub for an automatic build.

I'll do my best to resolve this as soon as possible.

In the meantime if you clone this repo, you could build the image via the usual command, once in the image-match repo

[code]

but I'll get back to asap

[2016-03-30 19:43] francescolorussi opened #16 "linspace() got an unexpected keyword argument 'dtype'"
While I'm trying to run this code:

`from image_match.goldberg import ImageSignature
gis = ImageSignature()
a = gis.generate_signature('/home/francesco/Scrivania/2.jpg')
b = gis.generate_signature('/home/francesco/Scrivania/1.jpg')
gis.normalized_distance(a, b)`

I get this error:

`~$ python '/home/francesco/Scrivania/imagematch.py'
Traceback (most recent call last):
  File "/home/francesco/Scriv

[2016-03-31 08:58] rhsimplex commented on #16
Hi @steven991 can you share the images you are using? The signature generation can fail if the image is very small, for instance. We should raise a more informative exception, though.

Could you also share what version of numpy you're using?

`python -c "import numpy; print numpy.__version__"`

[2016-03-31 10:36] francescolorussi commented on #16
Ok thank you for the tip about numpy version, I probably solved the issue. I was using the two Mona Lisa images provided in the example, the problem is that I installed numpy through apt-get (apt-get install python-numpy) which gave me version 1.8.2. Now I installed Anaconda which comes with numpy 1.10.4 and everything works fine. Maybe obsolete numpy version?

[2016-03-31 11:00] rhsimplex commented on #16
Glad to help

[2016-03-31 11:00] #16 closed, assigned to nobody

[2016-04-03 07:43] smallevil opened #17 "about ext data"
Hi
This project is great, thank you for your open source.
In use, I feel a little less convenient.
When used in conjunction with the ES, add_image ext data can add a field, json format
such as:
add_image ( 'image url', 'json data')
Back out in the search results come together.

Thus, when adding pictures, you can write the image with some extra information, search can directly get.

Own little exp

[2016-04-04 09:24] rhsimplex commented on #17
@smallevil excellent idea, and not that difficult to implement.  Hopefully I'll have some time to do that in the near future, but in the meantime if you manage to make the change please do send us a PR!

[2016-04-12 12:29] vrde opened #18 "Add integration tests"
To improve development speed and PRs review we can add some integration tests.

We can test `image-match` as a "blackbox", having a directory with images on one side, and expected fingerprints on the other. We can always work on unit tests later.

[2016-04-12 12:34] sbellem commented on #18
docker!!!!

[2016-04-12 12:39] sbellem commented on #18
we can use the [docker-compose.yml](https://github.com/ascribe/image-match/blob/master/docker-compose.yml)

[2016-04-14 08:35] rhsimplex commented on #18
@vrde @sbellem See https://github.com/ascribe/image-match/tree/integration_tests

Right now works just like http://bigchaindb.readthedocs.org/en/develop/running-unit-tests.html including the Docker support =)

Will add more tests over the coming week(s).

[2016-04-14 09:03] sbellem commented on #18
:+1:

[2016-04-20 19:01] mladdict opened #20 "Why "An image signature for any kind of image, Wong et al" instead of pHash?"
Thanks for the awesome package. Is there a rationale for choosing to implement the digital signature from "An image signature for any kind of image, Wong et al" versus pHash?

[2016-04-21 11:30] rhsimplex commented on #20
Glad you find it helpful.  To answer your question: part of it was ignorance of the field, and part of it was licensing.

To the first part, we looked into pHash, but I didn't understand how to make it scale to 1B+ images at the time.  The Wong paper addresses that. Of course, now I see that the database method of storing the signatures could work for any hashing library, including pHash.

As for

[2016-04-21 11:30] #20 closed, assigned to nobody

[2016-04-28 11:21] rhsimplex commented on #13
@sbellem is this fixed?

[2016-04-28 11:31] sbellem commented on #13
[code]

[2016-04-29 09:23] kingroryg commented on #3
We are looking at both py2 and py3 compatibility here or are we looking to totally port it to py3 ?

[2016-04-29 09:30] rhsimplex commented on #3
Looking to move to Python3 eventually -- don't really have the bandwidth to support parallel releases. I'm working on some integration tests #19 first, which should help ease the transition.

[2016-06-08 07:56] smallevil opened #25 "add ext save"
I modified the code, adds a field.
You can add pictures at the same time adding a JSON text description.
At the same time of reading can be obtained.
But I'm not familiar with git, I do not know how to submit to you.
So, playing a compressed package. You see if you can merge into it.
I hope that will not increase your work.

download url:
http://7jpsbs.com1.z0.glb.clouddn.com/image-match.tar.gz

[2016-06-08 08:23] rhsimplex commented on #25
Thanks for the effort @smallevil I'll have a look =)

[2016-06-08 08:32] rhsimplex commented on #25
I created a pull request with your code: #26 looks good, but I have to finish the integration tests #19 before merging anything.  Thanks again for your help!

[2016-06-08 14:03] smallevil commented on #25
You look forward to merge into it.
This project is like

[2016-06-18 01:32] pablodgonzalez commented on #25
Hi, @rhsimplex and @smallevil .
Today, I started to use this project, in few minutes, I created un docker-compose and loaded data and tested it.
It was awesome, but at the last hours of day I understand that we need searching with metadata too.
I'd like search by image and metadata, because I use different enough image and I can filter about 90% data, but still many results which to get most asser

[2016-06-21 19:01] smallevil commented on #25
@pablodgonzalez
I have a question:
If you are using metadata,
For example: a picture, it appears in the A site too, are B site appeared, in fact, I think both are added to the list can be found out.
If you are using metadata, will not cause the same picture can only be added to the library again?

[2016-06-21 19:02] smallevil commented on #25
@pablodgonzalez
Also:
If you do, the search speed will not be affected?

[2016-06-23 07:42] rhsimplex commented on #25
Hi @pablodgonzalez! I'm back from vacation and can work on this now.

@smallevil there is currently no code to block duplicates.  You could make some metadata field the index (primary key) and protect against duplicates that way, since the index is unique.  This shouldn't slow things down.  Or you could reject adding very similar images if you like.

[2016-06-23 09:12] smallevil commented on #25
@rhsimplex
Thank you, so just fine.
We look forward to publish as soon as possible.
I've been waiting for after the release, I can use.
I'm impatient

[2016-06-23 13:19] rhsimplex commented on #18
Resolved with #19

[2016-06-23 13:19] #18 closed, assigned to nobody

[2016-06-23 13:19] rhsimplex opened #27 "Update docs"
Added some new features, @sbellem will need a little help from you =)

[2016-06-23 15:05] rhsimplex commented on #25
@pablodgonzalez @smallevil can you tell me how you envision the metadata search to work? We have added the metadata field (thanks @smallevil), but should searching the metadata search be separate? Should it be mixed into the `dist` score? Should a schema be enforced or is anything permissible as metadata?

In my opinion, anything should be permissible as metadata, but it is up to the user to imple

[2016-06-28 08:56] smallevil commented on #25
Can you tell me the next version probably Published Why?
Because my side of the project is also waiting for you in the new version can store JSON. It has been stalled for some time.

[2016-06-28 09:18] rhsimplex commented on #25
I can't merge this PR into master because the metadata fields should be separated from the image search fields. I still need to modify your code a bit. No ETA unfortunately.

In the meantime, you can use your code by doing:

[code]

So you don't need to wait on me

[2016-06-28 10:30] rezaxdi opened #28 "Elasticsearch 5 compatibility ?"
Hi,

I tried to test image-match but I'm getting this error while trying to search inside db for an image :
`
elasticsearch.exceptions.RequestError: TransportError(400, u'parsing_exception', u'no [query] registered for [filtered]')``

I'm using elasticsearch 5, is it supported ?

[2016-06-28 12:27] rhsimplex commented on #28
Hi @rezaxdi,

Thanks for the heads up.  We don't support 5.0 yet, but I'll try to get ahead of it.  The issue is in `elasticsearch_driver.py` where we construct a query like:

[code]

According to the [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/master/breaking_50_search_changes.html), the filtered query has been deprecated, so this will need to be rewritten.

[2016-07-04 13:10] CrocoDillon opened #29 "What does your cluster look like?"
First of al thanks for this project! :shipit:

I was wondering what that cluster would look like. How many and what types of nodes for image-match and for Elasticsearch, as well as CPU and memory for each. I'm thinking of using Google's container engine (Kubernetes) for deployment and need to estimate cost.

[2016-07-05 09:48] rhsimplex commented on #29
Hi @CrocoDillon, glad you're finding the project useful.

We originally wrote image-match to support a web crawl, so the architecture was something like a few beefy elasticsearch nodes (something like 3-5 32-core machines) supported by as many crawlers as we wanted -- typically AWS spot instances of 4-16 core machines.  The crawl was io-bound, but the actual image processing and database storage i

[2016-07-05 09:48] #29 closed, assigned to nobody

[2016-07-22 08:54] rr- commented on #3
Are the tests finished? Can I work on the port?

[2016-07-22 09:02] #25 closed, assigned to nobody

[2016-07-22 09:05] rhsimplex commented on #3
Yes, tests covering the important functionality are written and merged.  You can run them with `py.test`. I'll probably add more soon.

@rr- I'd be thrilled if you work on porting this to python3 and of course I will help when I can.

[2016-07-22 09:08] rhsimplex commented on #17
Resloved by #26

[2016-07-22 09:08] #17 closed, assigned to nobody

[2016-07-22 09:45] kingroryg commented on #3
👍

[2016-07-27 16:38] kingroryg commented on #27
I'm free . :p I'd like to contribute to this 👍

[2016-07-27 17:44] rhsimplex commented on #3
Solved by #30, thank you @saru95

[2016-07-27 17:44] #3 closed, assigned to nobody

[2016-07-27 17:54] rr- commented on #3
Very cool! (Sorry for the delay.) I think the version should be bumped, trying to upgrade it with `python3 setup.py install` says the version is already at 0.3 - had to reinstall it manually. Plus it's a good idea to setup the PIP package for Py3, or bump it (not sure if it boils down to the same thing as the first proposition).

[2016-07-27 17:57] rhsimplex commented on #3
@rr- yes definitely, I will bump the version and set it up on pypi tomorrow

[2016-07-28 11:41] rhsimplex commented on #27
@saru95 this is pretty much done, I forgot to close the issue. If you want to work on something a little more complex, maybe #2 ? If so, go reply to the issue and I'll spell out in detail what needs to be done.

[2016-07-28 11:41] #27 closed, assigned to nobody

[2016-07-28 12:42] rhsimplex commented on #3
@rr- this is done. Can you verify `pip install` is working?

[2016-07-28 12:51] kingroryg commented on #2
I'm having a look at the paper . Would be great if I could draw some insights from it . Will get back to you ! 👍

[2016-07-28 13:05] rr- commented on #3
Yep, it works. Thank you.

[2016-07-29 09:06] rhsimplex commented on #2
One idea: at the moment, signatures are stored as big int arrays, e.g.:

[code]

And inserted directly into the database.  This takes a lot of space on disk.  A better way might be to convert them to strings.  For instance, if the signature (of length `n`) values run from -2..+2, you could make them all non-negative by adding 2:

[code]

You can convert this into a number by multiplying out powers

[2016-07-29 16:37] kingroryg commented on #2
Is doing so much computation to conserve a few bytes worth it ?(maybe im wrong) In my opinion, if you are looking at reducing the signature size, that process has to take place before you add the values to the big int array and not after generating the values .  In your approach , we are considering that we have access to a signature array . That shouldn't be the case , right ? Because then we'd h

[2016-08-01 15:11] rhsimplex commented on #2
The space savings are not insignificant, especially if you are storing billions of records.  For context, I did a little experiment with 100 images and made three different indexes -- `tester` which is normal, `tester_str` where i replaced the signature with a length-253 str, and `tester_none` where I removed the signature completely:

[code]

[code]

[2016-08-12 11:31] rhsimplex commented on #2
Another (complementary) route, is to remove the extraneous zeros from the signature -- any grid point on an edge with missing neighbors gets a zero for the difference.  These are completely useless and waste space...which is my lazy engineering =)

[2016-08-17 10:46] Lvctao opened #36 "cairo"
1. I am a fresher to Python. Why I encountered the problem
   "import cairo  # pycairo
   ImportError: No module named 'cairo'" .
   Although I have installed cairo(_https://www.cairographics.org/download/_), I can not fix it yet!
   I run that on _Mac OS X EI Capitan 10.11.4_ .
2. Do you have a more detailed guide than _quick start_ and I really need it. If you have, please send it to my email(lv

[2016-08-17 11:40] rhsimplex commented on #36
Can you describe the install process you used? The latest version of `image-match` uses python 3...are you sure you're using the right interpreter?

Does `pip install cairosvg` work?

[2016-08-17 14:54] rhsimplex opened #37 "Logos"
Thanks @WojHupert

![image-match](https://cloud.githubusercontent.com/assets/6517700/17741092/40feface-649b-11e6-8ca7-5916cd781689.jpg)
![image-match](https://cloud.githubusercontent.com/assets/6517700/17741093/41040a64-649b-11e6-8499-48b78ddca56b.png)

![image-match_ico](https://cloud.githubusercontent.com/assets/6517700/17741094/4108bd98-649b-11e6-8b09-e39b90c01d7c.jpg)
![image-match_ico](https:

[2016-08-17 14:57] #37 closed, assigned to nobody

[2016-08-19 04:24] Lvctao commented on #36
This is the example in quick start, a TypeError "TypeError: unorderable types: dict() > dict()" occured when I run it. Have you ever encountered this problem?

`from image_match.elasticsearch_driver import SignatureES
es = Elasticsearch()
ses = SignatureES(es)
ses.add_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg/687px-Mo

[2016-08-19 04:37] Lvctao opened #38 "Storing and Searching"
This is the example in quick start, a TypeError "**_TypeError: unorderable types: dict() > dict()_**" occured when I run it. Have you ever encountered this problem?

**The code is:**

`from elasticsearch import Elasticsearch
from image_match.elasticsearch_driver import SignatureES

es = Elasticsearch()
ses = SignatureES(es)

ses.add_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/

[2016-08-19 07:20] Lvctao commented on #38
I have figure out the problem. It is a BUG in _numpy-1.11.1_. The factor is that in Python 3.x `list.sort()` no longer accept the `cmp` argument providing a comparison function. It should use the `Key` argument instead of `ar.sort()`.
The reference documentation site is "_https://docs.python.org/3/whatsnew/3.0.html#ordering-comparisons_"

[2016-08-19 07:55] rhsimplex commented on #38
Hi @Lvctao, I was able to reproduce this, thanks for finding it.  I'll try to fix it today.

[2016-08-19 09:22] rhsimplex commented on #36
addressed in #38

[2016-08-19 09:22] #36 closed, assigned to nobody

[2016-08-19 09:33] #38 closed, assigned to nobody

[2016-08-19 09:52] rhsimplex commented on #38
Fixed, and the new version is on Pypi. Thanks again @Lvctao

[2016-08-19 10:28] Lvctao commented on #38
My solution is delete "ar.sort()"  in line 198 in arraysetops.py. I know this solution  isincorrect. Could you tell me why the problem occurred or how to fix it.

发自 网易邮箱大师
On 08/19/2016 17:52, Ryan Henderson wrote:

Fixed, and the new version is on Pypi. Thanks again @Lvctao

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-19 11:22] rhsimplex commented on #38
If you do `pip install image_match --upgrade` that should fix the issue.  The problem was `set` and `np.unique` could work on dictionaries in python2 but not python3.  @vrde fixed it by checking the `id` of each image directly.  We also added a new test so this doesn't happen again.

[2016-08-24 09:02] Lvctao opened #40 "Search images using part of the picture"
Hi @rhsimplex, I come again with another question. When I searched images from _Elasticsearch_ backend using part of the image(1/2, 1/3 of the image), it is hardly to find a image matched. I want to solve this problem to some extent. Could you give me some advice?

[2016-08-24 09:26] ttmc commented on #40
He's away on vacation this week but will be back next week.

[2016-08-25 04:58] Lvctao commented on #40
Ok, thank you.

[2016-08-29 12:05] rhsimplex commented on #40
Hello again @Lvctao,

The image-match algorithm is theoretically capable of handling heavy cropping, but this hasn't been implemented yet.  Therefore, I'm not surprised your images aren't matching.

If you are interested in writing this feature yourself, I can advise you how to do it, but it's not trivial!

[2016-09-02 00:39] chekun opened #41 "Two identical image diff significant"
Hi, I have two identical image, but the algorithm outs two different signatures.

First image:

![test01](https://cloud.githubusercontent.com/assets/1967804/18188884/53e77c7a-70e8-11e6-8e27-98c196f1e242.jpg)

Second image:

![test02](https://cloud.githubusercontent.com/assets/1967804/18188887/5bbba7aa-70e8-11e6-93b9-3e881bc03e66.jpg)

Code below:

[code]

which outputs

[code]

Is that right?

[2016-09-03 15:15] rhsimplex commented on #41
Nope, it should return `0.0`.  I'll try to replicate this Monday and see what's going on.

Thanks for reporting the issue.

[2016-09-05 08:53] rhsimplex commented on #41
Ok, I only get a distance of 0.09, which should be under the threshold for matching.  However these images should be identical.

[code]

What's going on? I think one of these images is greyscale, and one is color.

[code]

So `skimage` (which `image-match` uses for loading the images) converts to greyscale from color with range `(0,1)` but if the image is already greyscale over 8 bits, it leaves i

[2016-09-05 09:08] rhsimplex commented on #41
Interestingly, when I try dividing by `255`, I get the same distance value as you: `0.70823708184882128`. Maybe something has changed with `skimage`.  Can you tell me the output of:

[code]

?

I'm using version `0.12.3`

[2016-09-06 00:04] chekun commented on #41
@rhsimplex , Thank you for your reply.

I use pavlov/match docker image `pavlov/match@9b7df7ecc867`.

and the `skimage` version is exactly `0.12.3`

Would use `PIL` directly fix the problem? Any plan to replace it ?

[2016-09-06 08:01] rhsimplex commented on #41
If you're using pavlov's match, then the real problem is that it's using an out-of-date image-match build.  Their docker file has the line:

[code]

And we're at version 1+ now. My colleague @vrde has actually ported match to use the latest version of image-match (which now uses python3), you can find that fork here: https://github.com/vrde/match.  I'll ask him to make a PR against the original re

[2016-09-06 08:49] chekun commented on #41
@rhsimplex Good news,  I will use @vrde's fork and see if it woks out. Thank you very much. 👍

[2016-09-06 08:50] rhsimplex commented on #41
You're welcome. Please let me know if it fixes your problem.

[2016-09-06 09:23] chekun commented on #41
@rhsimplex vrde's fork fixed my problem, issue solved 😃

[2016-09-06 09:23] #41 closed, assigned to nobody

[2016-09-07 15:20] rhsimplex commented on #41
there is now a PR usepavlov/match#8 on Pavlov's match. When the merge it you can pull from there directly =)

[2016-09-08 00:24] chekun commented on #41
@rhsimplex Nice,  love you guys.

[2016-10-14 11:38] rezaAdie commented on #28
is there no new image-search version for elastic 5???

[2016-10-14 12:02] rhsimplex commented on #28
No I haven't had time to work on this.  I can help you if you'd like to work on it, but I can't say when I'll have time to work on this myself, sorry.

[2016-10-14 12:35] rezaAdie commented on #28
do you have another recommendation for another that have similar function but support with elastic 5?? and if i want to edit the image-search, what i need to change???

[2016-10-18 06:31] rezaAdie commented on #28
hi, @rhsimplex i'm already change the query format and it can already run. But when i run use "ses.search_image('https://pixabay.com/static/uploads/photo/2012/11/28/08/56/mona-lisa-67506_960_720.jpg')" it can show the result like in example. But when use "ses.search_image('http://192.168.20.35:8090/Ct5S39KUIAApAK4.jpg')" it show it self, not other image that similar "[{'path': u'http://192.168.20.

[2016-10-18 08:53] rhsimplex commented on #28
Can you show me the query?

[2016-10-18 09:02] rezaAdie commented on #28
it's like this,
`{'query':
                                      {
                                          'bool': {
                                              'must': {
                                                    'bool': {'should': should}
                                              }
                                          }
                                      },

[2016-10-23 20:31] jtara1 opened #42 "Problem install module, cairocffi"
I had this issue, but have now found a solution.

OS: Ubuntu 16.04
Python 3.5.2

While installing the the needed modules, I ran into a version mismatch error
after entering

`sudo pip3 install cairocffi`

I got

`AssertionError: version mismatch, 1.5.2 != 1.8.3`

[Full error message from pip install](https://gist.github.com/jtara1/7e902176dc5f41f43fd525b77f4069fb)

---

**Solution**

Downgrade cff

[2016-10-23 20:31] #42 closed, assigned to nobody

[2016-10-23 23:35] jtara1 opened #43 "I'm getting elasticsearch.exceptions.ConnectionError"
OS: Ubuntu 16.04
Python 3.5.2

---

I'm just trying to get the basic example working from the Documentation.

I installed using `sudo pip3 install .` while in the image-match directory. Here's the code I'm running in `test.py`:

[code]

The exception / error I'm getting is a chain of exceptions with the most recent one being

[code]

[Full traceback](https://gist.github.com/jtara1/2048f3495647bc98

[2016-10-24 04:04] jtara1 commented on #43
Solved this by uninstalling `elasticsearch (v1.7.x)` and installing `elasticsearch (v2.4.0)`. I initially installed it via `sudo apt-get install elasticsearch` which chose v1.7.x for me.

I downloaded the newer version [here](https://www.elastic.co/downloads/past-releases/elasticsearch-2-4-0).

Also when I go `localhost:9200/images/image` I'm getting a valid http response now.

[2016-10-24 04:04] #43 closed, assigned to nobody

[2016-10-24 08:12] rhsimplex commented on #43
Yeah,  canonical's repositories usually have pretty outdated builds.  Glad everything is working for you!

[2016-10-25 09:20] rhsimplex commented on #28
Sorry for the delay, I'll try to look into it soon.

[2016-10-27 09:27] rhsimplex opened #45 "`refresh_after`"
@jtara1 since you said you would make a PR based on your [commit](https://github.com/jtara1/image-match/commit/9d1398e6cf614bbd788bfa5add8be9fbdc485892) to force an immediate rebuild of the index.

Just making an issue to remind me =)

[2016-10-30 14:42] rhsimplex commented on #45
Closed by #46

[2016-10-30 14:42] #45 closed, assigned to nobody

[2016-11-08 23:38] nofxx commented on #28
Trying @rezaAdie code works here, but did some very naive tests...

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-filtered-query.html

[code]

Gonna try MongoDB too and compare results. Out of curiosity why ES?
Too much a diff? Performace? Fuzziness? Sorry, didn't fully understood this algo yet...

[2016-11-09 09:45] rhsimplex commented on #28
@nofxx @rezaAdie thanks for checking, would you be willing to make a PR with the change? I haven't had much time to work on this lately, so that would be a huge help.  I can add tests if necessary.

We used ES because it can support a much faster insertion rate.  We were initially using image-match in conjunction with a high-volume web crawler.

I haven't maintained the MongoDB wrapper, let me kno

[2016-11-17 04:21] char101 commented on #28
`{'query': {'bool': {'should': should}}}` should be enough, why nest it indiside a `must` query.

The original `filtered` query is unnecessary, since there is _no filter_ in it.

[2016-11-17 10:34] wac81 commented on #28
@char101 it's not work for web url

[2016-11-17 10:36] wac81 commented on #28
if i use local URL ，get result but all score is 63
[{'path': u'./image_database/3.jpg', 'score': 63.0, 'dist': 0.0, 'id': u'AVhx1DpmEaCo1yV3vBzc', 'metadata': None}, {'path': u'./image_database/3.jpg', 'score': 63.0, 'dist': 0.0, 'id': u'AVhxxN1rEaCo1yV3vBy5', 'metadata': None}, {'path': u'./image_database/3.jpg', 'score': 63.0, 'dist': 0.0, 'id': u'AVhx09vwEaCo1yV3vBzW', 'metadata': None}, {'path

[2016-11-17 14:10] rhsimplex commented on #28
Ok, I made a PR #49 that uses @nofxx's version of the query, inspired by: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-filtered-query.html

If I can get a couple of you to :+1: the PR, I'll merge it.

[2016-11-18 00:57] char101 commented on #28
@wac81 How does the `must` query affects remote or local source?

A boolean query is a compund query, thus it requires at least two subqueries to matter.

[2016-11-18 01:00] char101 commented on #28
This URL https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-filtered-query.html is irrelevant because like I explained before, a `filtered` query requires a filter. There is no filter is the original query, thus it is only a normal `bool` query.

[2016-11-18 01:07] char101 commented on #28
@wac81 The `score` value does not matter (it is tf*idf not the image similarity distance), what matter is the `dist` value which is 0 = exact match. From what see it works with your local images since all the `dist` values are 0.

[2016-11-18 09:21] wac81 commented on #28
but i add 6 images , but just get same to 3.jpg image,  {'path': u'./image_database/3.jpg', 'score': 63.0, 'dist': 0.0, 'id': u'AVhxxN1rEaCo1yV3vBy5', 'metadata': None}

how to adjust get dist with the other images

[2016-11-18 09:21] wac81 commented on #28
@char101

[2016-11-23 09:30] rhsimplex commented on #28
I'll go ahead and merge with @char101 suggested changes, since it passes all the tests.

@wac81 I can't understand what the issue is exactly.  If you're able to reproduce it with the latest master branch, please open a new issue with the exact input and output and we'll take it from there.

Thanks everyone!

[2016-11-23 09:30] #28 closed, assigned to nobody

[2016-11-29 02:13] char101 commented on #28
@rhsimplex Thanks but I think you still need to change `exclude` to `excludes` to be compatible with elasticsearch 5.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-source-filtering.html

[2016-11-29 11:50] rr- opened #50 "(Question) Storing hashes in RDBMS"
I'm asking this question since I think it might benefit other people.

I made a driver that stores the hashes in a PostgreSQL database. My test database contains 25k images. The query process looks roughly like this:

1. Choose an image to query database for
2. Compute the image's signature and lookup words (let's say the words = `[12895189, 2517912795, 72159172, 1275215791, ...]`)
3. Get IDs and

[2016-12-05 10:53] rhsimplex commented on #50
Hi @rr-, thanks for your interest in the project.

To your questions:

1.  I wouldn't set it up this way in a relational database.  A more efficient way is to look up on individual columns **without the join.**  You can even iterate through them randomly.  This is usually fast because matching images will match on more than one word, but you don't need to check them all -- a match is a match as so

[2016-12-05 13:00] #50 closed, assigned to nobody

[2016-12-05 14:25] jjhesk opened #52 "looks very nice"
does it have any buildpack for heroku?

[2016-12-05 16:51] rhsimplex commented on #52
I'm afraid not.  Maybe https://github.com/pavlovai/match is helpful? This is a containerized version of image-match

[2016-12-07 10:47] #52 closed, assigned to nobody

[2016-12-09 08:05] rezaAdie opened #53 "can't search"
hi, i have question. I try to search image but i got nothing in result. This is my code.
`es = Elasticsearch("192.168.20.35:9200")
ses = SignatureES(es)
list = ses.search_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg/687px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg')
print(list)`

And i got `[]` as the resu

[2016-12-09 09:17] rhsimplex commented on #53
I can't reproduce it, but I'm still using elasticsearch 2.x:

[code]

outputs:

[code]

Can you double-check?

[2016-12-09 09:28] rezaAdie commented on #53
hi, if i search using image that stored in my db use

print(list)
i can get it like this
`[{'id': 'AVjfKYajkwc-LUweSHty', 'dist': 0.0, 'score': 65.11921, 'metadata': None, 'path': '/data01/image_collections/caleg/Wakil_Calon_-_JEMMY_ASIKU_(2).jpg'}]`

but when i search using
list = ses.search_image('http://i.imgur.com/CVYBCCy.jpg')
print(list)

i get no value like '[]'

[2016-12-09 09:32] rhsimplex commented on #53
I can't help without something I can reproduce myself.  Hard to say when it's stuff that's in your db already.

Can you reproduce it in a self-contained script with a fresh index on images from the web?

[2016-12-09 09:55] rezaAdie commented on #53
hi rhsimplex. can you produce it using this image in this link

and try to search using

that was some image that i use in my elastic using elastic 2.2.1

[2016-12-09 10:01] rhsimplex commented on #53
Ok, so if I add all the the images in the archive and then search against this URL, there are no matches but you expect one (or many)?

I'll try to get to it early next week at the latest.  Let me know if you figure anything else out about what's going on.

[2016-12-09 10:05] rezaAdie commented on #53
Yes for now i just get no value. What i expected is i can get value like

 {'dist': 0.15454905655638429,
  'id': u'AVM37oZq0osmmAxpPvx7',
  'metadata': None,
  'path': u'https://pixabay.com/static/uploads/photo/2012/11/28/08/56/mona-lisa-67506_960_720.jpg',
  'score': 1.6818419},
 {'dist': 0.24980626832071956,
  'id': u'AVM37nMg0osmmAxpPvx6',
  'metadata': None,
  'path': u'https://upload.wikimedi

[2016-12-09 10:06] rhsimplex commented on #53
Ok thanks, I'll check it out

[2016-12-13 21:51] theis188 opened #54 "cairo error on import ImageSignature"
I attempt to import the following:

`from image_match.goldberg import ImageSignature
`

And it raises an issue apparently related to cairo--actually originating in the cairocffi library:

[code]

I installed [cairo](https://www.cairographics.org/download/) using the MacPorts option and installation seemed successful.

Any ideas?

[2016-12-14 00:39] theis188 commented on #54
I resolved this in my case by commenting out the line importing cairosvg in goldberg.py in site-packages/image_match. This is fine for me since I'm not using any vector graphics.

[2016-12-14 00:39] #54 closed, assigned to nobody

[2016-12-18 14:55] rhsimplex commented on #53
Hey @rezaAdie any insight? I'm on vacation for the holidays, no ETA from my end

[2016-12-19 04:59] rezaAdie commented on #53
Hey @rhsimplex i'm still stuck, i try to lower elastic version but it's still same, but when i try monalisa image that from your tutorial... when i search it, i can found it. But still no value from my own image.

[2016-12-19 08:50] rezaAdie commented on #53
When i add image, am i need to do it using URL??? because i add image from my directory path likethis :

[2016-12-25 00:24] dgtlmoon commented on #40
I think that the README.md should very clearly state what this search engine should, and should not be used for. It is entirely reasonable that someone would assume that this could be a valid use case for this engine and waste a lot of time trying to get it to work

[2017-01-08 13:53] imerkle commented on #40
Can this Engine match two image of Donald Trump in different Colored clothes ?  I want to know what it can be used for ?

[2017-01-08 13:58] imerkle opened #56 "Hi, I havent installed it yet but can this search find two ............."
Hi, I havent installed it yet but can this search find two images of same person in completely different settings for example

[OBAMA 1](https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcThzH4YQ6Thbx5rFHB3xZLB_s_4rJvKm6r0XHrcs-4_9PlE3bXx)

And [OBAMA 2](https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTyzOSF0tUckQkD5hEtnP_pJnGAxufETaGZHdyQRmrEQ2MQ2KOuUQ)

[2017-01-09 11:19] ttmc commented on #40
@dsslimshaddy This engine can only find nearly-identical _images_. It is _not_ an object detection engine.

[2017-01-24 02:55] eggytronixx opened #57 "Python 3.5 issue with compute_mean_level method in ImageSignature"
`
avg_grey[i, j] = np.mean(image[lower_x_lim:upper_x_lim,
                                        lower_y_lim:upper_y_lim])  # no smoothing here as in the paper
`

lower_x_lim, upper_x_lim, lower_y_lim, and upper_y_lim are causing the slice to through an exception in python 3.5.

Does anyone else have this issue?

[2017-01-25 18:09] rhsimplex commented on #57
Could you share the image causing the issue?

[2017-01-25 22:39] kern commented on #57
Error I'm seeing is `TypeError: slice indices must be integers or None or have an __index__ method`

[2017-01-27 04:34] eggytronixx commented on #57
I believe it was a type error. I did the following to the source, and it fixed the issue.
The values for lower_x_lim, upper_x_lim, lower_y_lim, and upper_y_lim should be int not float

@rhsimplex I would using the url from the demo example on the docs page

![screen shot 2017-01-26 at 8 31 32 pm](https://cloud.githubusercontent.com/assets/4821893/22360643/a5afc7e2-e406-11e6-90f2-dccd79bd3c9d.png)

[2017-01-27 15:41] rhsimplex commented on #57
@eggytronixx hey thanks for the fix.  I'm traveling until next week, then I can fix it. Alternatively, you can make a PR and I'll merge it immediately if the tests pass 😁

[2017-02-01 11:56] rhsimplex commented on #57
Closed by #58 Thanks @eggytronixx :+1:

[2017-02-01 11:56] #57 closed, assigned to nobody

[2017-02-02 06:07] eggytronixx commented on #57
@rhsimplex 👍🏾

[2017-02-02 17:34] rr- opened #59 "Feature request: make cairosvg optional"
It's pretty big dependency; I think many people would be happy with PIL / Pillow alone.

[2017-02-02 17:35] rr- opened #60 "Feature request: better errors for corrupt images"
Right now exceptions regarding corrupt images need to be caught using `except xml.etree.ElementTree.ParseError` which looks rather... abstract.

Image match should throw its own type of exception in such cases.

Related: #59

[2017-02-03 15:31] rhsimplex commented on #59
Agree, we added it due to a business need at the time but it's generally useless.  I don't work on this codebase much anymore but would be thrilled to merge if you make a PR

[2017-02-03 15:39] rr- commented on #59
Roger

[2017-02-23 22:11] alexminnaar opened #62 "Duplicate Identifier or Similarity Identifier"
I was hoping to get some clarification on the intended use-case for this.  Should it strictly be used for duplicate detection or can it also be used to identify similar images.  [This page](http://image-match.readthedocs.io/en/latest/signatures.html) seems to suggest that it can be used to measure image similarity.  However when I try it on the attached images, it does not seem to agree with the i

[2017-02-24 09:04] rhsimplex commented on #62
Hi @alexminnaar yes, the intended use is for near-duplicate images.   The original use case was detection of copyright violation over a corpus of a billion+ images.

Here's a [video](https://www.youtube.com/watch?v=DfWLBzArzKE) from pydata explaining more.

Sorry about the confusion, I'll link this issue from the README to help others.

[2017-02-24 09:04] #62 closed, assigned to nobody

[2017-02-24 09:10] rhsimplex commented on #59
Closed by #61, thanks again

[2017-02-24 09:10] #59 closed, assigned to nobody

[2017-02-24 09:11] rr- commented on #60
Closed by https://github.com/ascribe/image-match/pull/61

[2017-02-24 09:11] #60 closed, assigned to nobody

[2017-03-23 16:26] ghost commented on #62
@alexminnaar if you are interested You can use something like this https://github.com/akshayubhat/DeepVideoAnalytics

[2017-03-26 18:25] DanielFerreiraJorge opened #64 "Strange problem searching"
Hello, I have a weird problem. I have two images, A and B (B is a bigger and with more resolution version of A). If I use ImageSignature to calculate the normalized distance between the two I get 0.314299892917, which is pretty good, showing that they are a match.

Now, here is the problem, if I add image A to elasticsearch using ses.add_image('A.jpg') and then, use ses.search_image('B.jpg'), I ge

[2017-03-27 17:51] rhsimplex commented on #64
That is strange.  I'm on vacation until Apr 5, but please share any other information or if you figure out what the problem is.

Otherwise, I will look into it when I'm back.

[2017-03-28 10:02] fabito commented on #64
Could you create a failing test case reproducing the issue and open a PR?

[2017-03-28 12:04] advance512 opened #65 "Dockerfile does not create ElasticSearch server"
Documentation [says](http://image-match.readthedocs.io/en/latest/start.html#docker):

Looking in the Dockerfile and setup.py, I see no creation of an ElasticSearch container.

Perhaps the documentation should mention it only creates a containerized environment where you can use the Python REPL for execute programs that use the image-match and elasticsearch libraries.

I would suggest, however, tha

[2017-03-28 18:07] advance512 opened #66 "Documentation of way to get complete distance matrix"
Hi there,

I have a set of 4000 images which I want to create into a cluster. My images are a large set of images taken from various fixed cameras (might move a small, small bit due to wind), some at day some at night, and they might have people, dogs, cats, etc. I am trying to create clusters based on the camera (i.e. clusters of images all taken by the same camera).

I'm planning on using HDBSCA

[2017-03-31 15:40] rhsimplex commented on #65
Hi @advance512,

It's possible the documentation didn't keep up here.  I'm on vacation until late next week, but I'll have a look when I get back and either update the dockerfile per your suggestion, or remove the offending documentation =)

Until then, I encourage you to look into https://github.com/pavlovai/match -- the folks at pavlov have done some work making a containerized version.

[2017-03-31 15:57] rhsimplex commented on #66
For 4000 images, I would not use the database part of the package.  Just use the `generate_signature` method from the `ImageSignature` class in `image_match/goldberg.py` on your images, and then use the `normalized_distance` over all pairs of signatures to generate your distance matrix.

Roughly speaking, decreasing `k` and  increasing `N` should give you better results at the expense of lookup sp

[2017-03-31 15:57] #66 closed, assigned to nobody

[2017-04-01 13:43] floodcaptain opened #68 "not able to install on raspbian"
after trying:  `sudo pip install image_match`
it is stuck forever and shows only this:

[code]

same with trying to build with source .

[2017-04-01 13:44] floodcaptain commented on #68
trying with raspbian version: March 2017

[2017-04-02 08:53] floodcaptain commented on #68
done. it just takes too much time to download

[2017-04-02 08:53] #68 closed, assigned to nobody

[2017-04-10 16:17] ecdeveloper commented on #40
@rhsimplex Any plans on implementing this feature in the nearest future? If not - can you give some advices on how could that be accomplished? I might also be interested in implementing that.

[2017-04-10 19:38] ecdeveloper commented on #2
Any plans on addressing this concern? It feels like with current approach, an index with a billion images may weight hundreds of G's.

[2017-04-13 21:25] ecdeveloper commented on #2
I got an index with 200k images, which is 710.4mb (elasticsearch index size). So for only 2M records, I imagine this size will be roughly around 7G. So speaking of a scale of billions, 2B records would be around... uhm... 7TB? That sounds really scary.

Any thoughts?

[2017-04-14 02:18] ecdeveloper opened #69 "Skip duplicates on indexing?"
Is there a way to skip indexing an image, if it already has been indexed? I have some images in elasticsearch, and I need to index some others. However, some of those images were already indexed. Is there way to make those images, which have 100% match in DB, to not be indexed again?

[2017-04-18 07:40] rhsimplex opened #70 "Add documentation for filtered meta-search"
Need to write documentation for new feature #63

[2017-04-18 07:56] rhsimplex opened #71 "Problem with TravisCI build"
Something is wrong with scikit-image and travis

[code]

[2017-04-18 07:59] rhsimplex commented on #69
Currently, no.  You could do a lookup first and only accept new images above a certain distance, but this would add a lot of overhead to the image insertion and therefore could not be a default configuration.

Alternatively, if the filenames (or something) are unique, you could index on that with Elasticsearch.

[2017-04-18 07:59] #69 closed, assigned to nobody

[2017-05-02 09:45] rhsimplex commented on #2
Hi @ecdeveloper,

Yes, the signatures are pretty heavy and your ballpark figures are correct.  Disk space was not a concern for us when we developed this, so we didn't put much effort into making it more efficient.

I don't have time to work on new image-match features, but if someone wants to work on a PR improving signature compression, I'll happily support them.  Probably the easiest way is jus

[2017-05-02 09:49] ecdeveloper commented on #2
Thank you for your reply. I'd totally be happy to contribute to this amazing project.

I already started looking into the source code, and I was curious - is signature, stored in the db, used at all? From what I saw - you currently match images by words. So I wonder what was the purpose of storing those signatures.

Thanks.

[2017-05-02 11:00] rhsimplex commented on #2
That's exactly right.  With the Elasticsearch implementation, the actual image distances are only used to sort the final results.  This could easily be done with the Elasticsearch `match` score. So it's really not necessary to store the signatures.

Want to give it a shot?

[2017-05-02 16:26] ecdeveloper commented on #2
Yes, for sure. I suppose I'll need to tweak this query object, right?

https://github.com/ascribe/image-match/blob/master/image_match/elasticsearch_driver.py#L57

[2017-05-03 07:06] ecdeveloper commented on #2
@rhsimplex I created a quick prototype locally, which doesn't use signatures and distances, and returns only those results where score is greater than 0. But there is one problem with that approach. Currently, you can pass `distance_cutoff` as an argument to `SignatureES()`. If we rely on the score instead of distance - `distance_cutoff` won't have any effect.

Do you have any thoughts on how to d

[2017-05-03 08:12] rhsimplex commented on #2
You shouldn't need to alter the database query.  ``SignatureES`` overrides the ``__init__`` method.  You can have it explicitly take a ``dist`` argument.  Make the default ``None``.  Then, pass the base constructor a dummy value (or nothing, it will just take the default) and make sure to conditinally change every line in ``SignatureES`` that uses ``self.distance_cuttoff`` i.e. if ``dist is None``

[2017-05-03 08:22] ecdeveloper commented on #2
Makes sense.

Running more tests, though, makes me feel that relying on the score doesn't sound like a great idea.
I indexed one image, then I searched for a bunch of similar images, and here are the results I got (providing the `score` and `dist`):

[code]
According to docs, higher scores are better. However, here we see in 2nd case score is 10 and dist is 0.3, whereas case 4 - score is 12 (highe

[2017-05-03 16:15] rhsimplex commented on #2
Actually this looks good to me.  As long as we choose the default threshold to still get most of the positive results (high recall) it's ok to have worse specificity.  Especially since the tradeoff involves such a huge disk space savings.   It was unlikely distance would exactly track score anyway.

`0.45` was chosen rather arbitrarily, based on the kinds of images I happened to develop this proje

[2017-05-03 16:29] ecdeveloper commented on #2
Ah, you are right. After comparing those images by looking at them, the one with distance `0.47` and score of `12.0` - is very similar to the indexed one. So in this case `score` is even showing a better match than `dist`. Do you have any suggestions on the default (recommended) threshold for `score`?

[2017-05-04 13:21] walidsa3d opened #72 "Add method to remove images from index"
Please can you add a method to remove an image from the index, I would like to keep the index up-to-date with my list of images (which is constantly changing).

[2017-05-04 15:58] rhsimplex commented on #2
Something between 1 and 10? :rofl: Seriously though, just pick something in that range.  If you really want to fix narrower bounds on value, you can look at the tests and see which images should and shouldn't match. By the way, Elasticsearch uses [TF/IDF](https://www.elastic.co/guide/en/elasticsearch/guide/current/scoring-theory.html) scoring, if you're curious what the score actually means.

[2017-05-04 16:06] rhsimplex commented on #56
Sorry for the late reply.  No, this is not an object detection engine.  It's for finding slightly modified versions of the _same image_.

[2017-05-04 16:06] #56 closed, assigned to nobody

[2017-05-05 07:05] ecdeveloper commented on #2
Now I'm slightly confused 😕 I ran lots of tests with different images. I noticed that I always get elasticsearch scores, ranging 1 to 63. 63 is usually 1 to 1 match (normally when I search for the exact image I indexed). `1.0` means no match. After running all those tests, I figured that score of `20.0` to `60.0` means almost identical image match. `10.0` to `20.0` - very similar. Anything under `

[2017-05-05 07:17] ecdeveloper commented on #64
I'm noticing a similar issue. Having 2 almost identical images (will attach to that message). After indexing one of them and searching by second image - I'm getting the match, where distance is `0.43` and elasticsearch score is `4.0`. I usually get similar numbers for completely different images. Thoughts?

Indexed image:
![original](https://cloud.githubusercontent.com/assets/836928/25736657/2908c

[2017-05-05 08:20] rhsimplex commented on #2
There are 63 words available for search.  The Tf/Idf top term means all those words are an exact match, and the Idf means that every word is unique in the corpus.  I believe 63 is the highest possible score then, and as you add more images and repeat the search, the number will likely go down.

So you are justified being confused, because my explanation was bad!  So how about this -- ignore the cu

[2017-05-05 08:56] ecdeveloper commented on #2
I could definitely do that, but I see one issue with that approach - let's say there is no match in the index for the image I'm searching by. However, there are slightly similar images. So the top result would have the score of, let's say, 7. In my case this is a bit of a match, but in fact the images are completely different.

[2017-05-05 13:27] rhsimplex commented on #2
That's ok.  It's a typical feature of "search engine"-like applications...some of the results are basically meaningless.  But if you were doing a search, wouldn't you rather have a look at the marginal results as well?

Having a hard cutoff like we do now also has disadvantages, as you're seeing in #64

[2017-05-05 16:57] alexminnaar opened #73 "Image url in Path Stored as Text Field"
I am not an Elasticsearch expert but I think that when indexing a document the 'path' field which contains the image url is being stored as a text field which means that Elasticsearch is internally tokenizing the url.  As a consequence I'm not able to query an image url via a term query (it will return no results) to get an exact match.  I am able to use a match query however this will also return

[2017-05-05 20:54] SthPhoenix commented on #64
Hi! Just stuck at same issue, but looks like I found a solution.
In my case i'm indexing photos unmodified, as taken by camera, and trying to search them providing photoshopped images (tweaked histogram and a bit changed white balance) and get distance of `0.69`
BUT if I make the following:
[code]
I get distance of `0.09`. Looks like the reason behind this bug might be different color spaces of so

[2017-05-05 23:59] ecdeveloper commented on #2
Ok, I guess this discussion is going a little outside of the scope of that particular issue :)

I can work on filing a PR, which will remove signatures from the index, and will use the ES scores when bringing back the results. I could also impose an optional score cutoff (10, let's say), which could be overridden by a param.

Do you think that's reasonable?

[2017-05-06 11:21] SthPhoenix commented on #64
Addition to previous post: looks like in my case of unmodified pics from camera they were always horizontal by default, and opencv just handled rotation by itself.
Details [here](https://github.com/JohannesBuchner/imagehash/issues/53)

[2017-05-08 09:15] rhsimplex commented on #64
Hey @SthPhoenix, does that mean you don't think it's a color space issue (i.e. is completely explained by the rotation?)

[2017-05-08 09:16] rhsimplex commented on #2
Yes go for it!

[2017-05-08 09:18] rhsimplex commented on #72
Hey @walidsa3d

Should be easy to implement, see https://github.com/pavlovai/match/blob/master/src/match/server.py#L43

[2017-05-09 03:42] ecdeveloper commented on #2
@rhsimplex I filed a PR. I kept `dist` for the non-elasticsearch implementation. I guess we'd also need to update the docs at some point.

[2017-05-09 08:38] SthPhoenix commented on #64
Yes, it seems so ) I have tried saving image in Adobe RGB without rotation, and it gives a distance of zero with a slightly edited pic in sRGB. Looks like in my case PIL for some reason doesn't handle EXIF rotation by itself.

[2017-05-10 12:21] rhsimplex commented on #64
any suggestions, then? should we switch to cv2?

[2017-05-10 12:36] fabito commented on #64
My 2 cents,

Since OpenCV 3.1, exif orientation is used to rotate images properly. imread should output an image rotated accordingly to the exif orientation.

In the case of color images, the decoded images (imread) will have the channels stored in B G R order.

Hope this info is useful

[2017-05-10 18:16] SthPhoenix commented on #64
OpenCV might be a bit overkill, especially considering installation  harder than PIL )
I think a code like this ([SO post](http://stackoverflow.com/a/6218425/6749501)):
[code]
might help without injecting new dependencies

[2017-05-11 16:14] rhsimplex commented on #64
Well I think you know what I'm going to ask for next, @SthPhoenix =)

[2017-05-11 17:27] SthPhoenix commented on #64
I think I do ) Sure, I'll try to figure out how to implement this )

[2017-05-11 19:19] SthPhoenix commented on #64
@rhsimplex, could you try generating signature for [image](https://cloud.githubusercontent.com/assets/17834919/25771654/4aa9732c-3260-11e7-8370-8fcc62418677.JPG) I posted in **imagehash** issue?
For some reason if I am using `gis.generate_signature('path/to/image.jpg')` I get a weird error:

[code]
Excuse me for off-topic, I'm not sure if it's an image-match issue, or something on my side, related

[2017-05-12 17:42] ecdeveloper commented on #2
7488880       | 31.2gb
8316821         | 11.9gb

These are two indexes I have now. Second index is missing signatures. Pretty impressive results.
However, I will keep looking into optimizing the space, it's still too much. With this improvement we're at 1.2TB for 800M images. I'll try to reduce it more.

[2017-05-16 14:10] rhsimplex commented on #64
I get the same error:

[code]

[2017-05-16 14:11] rhsimplex opened #76 "Signature generator fails on seemingly normal image"
![](https://cloud.githubusercontent.com/assets/17834919/25771654/4aa9732c-3260-11e7-8370-8fcc62418677.JPG)

Causes an error (see #64 )

[2017-05-16 14:29] rhsimplex commented on #76
@SthPhoenix maybe this is not a real jpeg? Usually the `shape` property is rows x columns x color depth

[code]

[2017-05-16 14:30] rhsimplex commented on #2
Even better than expected! You can try reducing the number of words (`N`) and see how it affects your results.

[2017-05-16 14:54] ecdeveloper commented on #2
Could that affect the results accuracy?

I also tried renaming the `simple_word_*` to `w_*`, this reduced the index size but very unsignificantly, so I reverted it back.

[2017-05-16 15:10] rhsimplex commented on #2
Yes it should strictly decrease accuracy, but I don't know by how much.  The original paper used 100 words of length 10, so more and shorter words.  I don't find their probabilistic argument that convincing, so might be worth a shot.

Another thing you can try is getting rid of the extraneous zeros.  Signatures are generated by differences of nearest neighbors on a grid.  All off-grid differences

[2017-05-16 15:12] ecdeveloper commented on #2
Oh, we're about to remove signatures from the index, remember? ;)

[2017-05-16 15:14] rhsimplex commented on #2
i need a vacation :rofl:

[2017-05-16 17:19] SthPhoenix commented on #76
This image was taken by Nikon D5300, I have tested other images taken by it, same result. Interestingly, though, NEF(RAW) version of  this image works fine

[2017-05-16 20:12] SthPhoenix commented on #76
Trying a dirty fix like:
[code]
in `preprocess_image()`  in ` goldberg.py` gives no results.
Program runs without errors, but with warnings:
[code]

And a distance in range of 0.7-0.9, depending on rotation of second test image

[2017-05-16 20:16] SthPhoenix commented on #76
Also interestingly enough, arrays of `image[0]` of original image, and `image` of it saved in photoshop differs drastically:
In first case:
[code]
In second case:
[code]

[2017-05-16 20:20] SthPhoenix commented on #76
BTW, are there any specific reasons to use `skimage.imread` in
[code]
beside it accepting urls as parameter?

[2017-05-17 08:57] rhsimplex commented on #76
Looks like RGB (dimensions l x w x 3 0-255) vs greyscale (l x w 0.0-1.0).  They're all greyscaled by image-match anyway.

Nope, you got it.  The image loader is kind of a mess, we hastily improved it when doing our image crawl.  That's why it supports obscure formats like MPO.  Anyway, could definitely use some cleanup, like using PIL or cv2 and getting rid of the skimage dependency completely.

[2017-06-01 07:01] einali opened #77 "SignatureMongo problem with python3"
for import

`from pymongo.mongo_client import MongoClient

from os import listdir
from os.path import isfile, join
from image_match.goldberg import ImageSignature
from image_match.signature_database_base import make_record
from image_match.mongodb_driver import SignatureMongo`

there is this error:

`Traceback (most recent call last):
  File "/home/mehdi/ws/temp/image_match/src/sample3.py", line 7

[2017-06-01 11:22] rhsimplex commented on #77
Hi @einali

I haven't maintained the MongoDB portion of the code, it's mostly there as an example at this point.  Is there some reason you can't use the Elasticsearch backend?

[2017-07-09 12:05] sctrueew opened #80 "cannot resize an array that references"
hi ...
when i wanna call ses.add_image i got this error :

ses.add_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg/687px-Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg')

my error :
cannot resize an array that references or is referenced

by another array in this way.  Use the resize function

[2017-07-09 12:32] sctrueew commented on #80
solved :)

[2017-07-09 12:32] #80 closed, assigned to nobody

[2017-07-31 01:25] xl9211 opened #81 "Whether it contains memory leaks？"
When I use image-match in CentOS, it will takes up a lot of memory. Finally, will be killed by the system.

[2017-08-15 00:51] moorthi07 opened #82 "Is it possible to ignore a feature , ex: 'color - black' in the comparison query?"
Is it possible to ignore a feature , ex: 'color - black' in the comparison query?

I'm trying to compare two images , for example  - a black hand and a white hand - they could be identical if the color can be ignored. Is it possible , any properties can be set in the queries?

Thanks.

[2017-08-21 15:39] rhsimplex commented on #82
All images are greyscaled before searching.  However, black and white are opposite colors, so perhaps try `all_orientations=True` in the search function.  This will include a color inversion.

[2017-08-22 18:59] moorthi07 commented on #82
Thanks. But its not only about black and white. Any color that I like to filter out from search. If it is grey scaled, it wont detect the color difference, does it?
Also can I highlight the matching areas?

[2017-11-27 06:14] eromoe opened #84 "Question about searching"
Hello,

I have a question about record generation.   I don't understand why can set a word key like `simple_word_0`  and use it for search .

From code :
[code]

As I see the detail implement in elasticsearch and mongodb . I found image-match's searching step is :

1. generate words from signature
2. convert signature  into word dict  `
    { 'simple_word_0': 42252475,
                 'simple_wor

[2018-01-08 13:45] janetthecoder opened #86 "ElasticSearch 10K record limit"
It seems like ElasticSearch has a 10k rows limit.
Forgive the basic question but does image-match handle this?
Can't seem to figure out how to get our docker set up to run for a larger database.

[2018-01-10 15:11] #86 closed, assigned to nobody

[2018-02-27 21:08] janetthecoder opened #87 "Find Sub images in larger image"
Is it possible to use this to find sub images in larger images?

So for instance if I have a picture of 20 books arranged neatly, and want to find 1 of those books, can this be used, and can we return a bounded box for that image?

[2018-03-13 10:19] DIT4FUN opened #88 "POST /tester2/image?refresh=false [status:406 request:0.003s] elasticsearch.exceptions.TransportError: <exception str() failed>"
I am using a VMware Centos7 system,and install all software follow the guide doc!
and then i test the following code:

[code]
then i got this error!

[code]

[2018-03-25 16:34] dsandor commented on #88
Hi @DIT4FUN I came across this issue as well.  The problem is resolved by requiring a newer version of the `elasticsearch-py` module.  Do this by adding the following line in your `requirements.txt` file.

tldr; Elastic Search 6+ no longer assumes `application/json` so you have to upgrade the `elasticsearch-py` module you are using so it passes the correct headers to elastic search.

For reference

[2018-05-10 02:37] softwareabc opened #89 "is there a java version?"
as above, I don't know whether has a java implementation.

[2018-05-29 08:20] peaboard commented on #88
@dsandor thanks this works perfectly!

@DIT4FUN In addition, if you're not using a requirements.txt file, running pip with requirements like this also works.

[code]

[2018-06-02 14:34] duhaime commented on #87
@janetthecoder I think this image has some discussion here: https://github.com/ascribe/image-match/issues/40

If you agree that this issue is a dupe of #40, it might make sense to close this issue to concentrate conversation in that other thread...

[2018-06-02 14:40] duhaime opened #91 "Parameterize the number of units in each image feature vector?"
First I want to say thanks for building this awesome library -- it's a breeze to set up and has awesome performance.

Is it currently possible for users to parameterize the number of units in the feature vector extracted for each image? My intuition is that increasing the size of this vector will create more opportunities for images to match, and will increase the precision of float values that me

[2018-06-02 14:41] duhaime commented on #91
I just checked and this value seems to be set by the [`n` parameter](https://github.com/ascribe/image-match/blob/master/image_match/goldberg.py#L34) passed to the `ImageSignature` constructor. Thanks again for this great work!

[2018-06-02 14:41] #91 closed, assigned to nobody

[2018-06-04 07:34] CMCDragonkai opened #92 "In-memory tree to store normalised distance"
Is it suitable to use this with a BKTree? Or are there alternatives?

[2018-06-06 03:30] CMCDragonkai opened #93 "Return non-normalised distance"
Is it possible to get the non-normalised distance?

This way it can be used as a metric space (triangle inequality).

[2018-06-12 01:18] duhaime opened #94 "Option to make ElasticSearch insertions synchronous / blocking?"
This morning I tried inserting some images into an ElasticSearch database then querying for the inserted images. I was surprised to see that every single image yielded no matches, as I expected queries to at least return the trivial match where an image matches itself:

[code]

Eventually I realized that my queries were returning no results because the query seemed to be executing before the image

[2018-06-12 01:20] duhaime commented on #94
This feature was evidently reasonable enough to already be implemented! The elasticsearch driver `.insert_single_record()` accepts a `refresh_after` -- setting to True accomplishes the intended behavior. Thanks again for this great work!

[2018-06-12 01:20] #94 closed, assigned to nobody

[2018-06-13 11:30] duhaime commented on #71
@rhsimplex I needed to build scikit on Travis as well, and did so by using the following as my `install` step in `.travis.yml`:

[code]

Did you try the `only-binary`  installation for scipy + numpy?

[2018-06-13 11:38] rhsimplex commented on #71
Thanks for the tip, I will look into it if I have time.  It actually appears to be working now, aside from a failed equals: https://travis-ci.org/ascribe/image-match

[2018-06-13 12:28] duhaime commented on #71
Amen! Maybe things have since changed on the Travis side to make scikit easier to install. Either way, thanks for this awesome work!

[2018-06-17 17:10] Hyperclaw79 opened #95 "Expose a method for setting user-agents in ImageSigntaure().generate_signature()."
Since the underlying functions use `Urllib` to fetch the images from external links, I am stumbling upon `403 error`s. It would be helpful if I could set custom headers to bypass this problem.

I can easily access the same links with `Requests` module.

The [example link](https://cdn.discordapp.com/attachments/408321293960871956/456783325995073577/PokecordSpawn.jpg).

[2018-06-25 02:07] glentsch commented on #65
You are right that this does not start an Elasticsearch container.  While this is not in the documentation, here is a guide for anyone:
[code]

This will allow the two dockers to be on the same network, elasticsearch ports open.
Then when instantiating Elasticsearch:
[code]

[2018-07-18 06:44] CMCDragonkai opened #97 "Elasticsearch 6 compatibilty"
Does image-match work with elasticsearch 6? It doesn't seem like there was any relevant breaking changes. If so, can we bump up the version constraint in the `setup.py`?

[2018-07-21 06:47] janetthecoder commented on #87
Agreed

[2018-07-21 06:47] #87 closed, assigned to nobody

[2018-07-23 20:55] duhaime commented on #97
@fabito Do you recall why you specified the elasticsearch module version as `'elasticsearch>=5.0.0,<6.0.0',` [[commit](https://github.com/ascribe/image-match/commit/5217f695caa103e2e682c38931ae41e7b98a8a6f#diff-2eeaed663bd0d25b7e608891384b7298)]?  All the tests pass on 6.2.0; in fact it's the only version with which I've run image-match!

[2018-08-16 11:43] GreatBahram opened #99 "why you don't add numpy and scipy in image-match's dependencies"
Hi
First of all thanks for you project. I was wonder why you didn't add numpy and scipy to your `install_requires` in `setup.py`? I wanted to add them but I did not what version you have used.

[2018-08-16 13:08] duhaime commented on #99
@GreatBahram Thanks for your note. Both numpy and scipy *should* be pulled in via the scikit-image dependency, which lists both modules in its `install_requires` [[link](https://github.com/scikit-image/scikit-image)]. Are they not being installed upon install of scikit-image on your host?

Do you think numpy and scipy should be treated differently in the context of image-match? If so I'm curious t

[2018-08-16 14:12] GreatBahram commented on #99
@duhaime well I have checked the link you mention it. And your are right. I have no idea why when I tried to install `image-match` it showed an error about numpy and scipy. No need to add them in `image-match` since it just add more functionality in `scikit-image` and you guys don't care about which numpy and scipy version gonna install on user computer.
Thanks

[2018-08-16 14:12] #99 closed, assigned to nobody

[2018-08-23 15:26] RicardoBrazao commented on #97
Any news regarding this issue @duhaime ? I'm also facing some problems because v1.1.2 is still with an older version of elasticsearch.

[2018-08-24 12:25] phoenix-mstu commented on #77
Hi everyone.

I've also met the same problem. It's just convenient to have an ability to use mongo backend. We have several mongo clusters in our project and it'd be cool to add a new one instead of using elastic for that single task.

[2018-08-28 21:25] francescolorussi opened #100 "MongoDB Driver fails in search_single_record"
Running it on Windows 10 and Python 2.7.10

Same happens on Python 3.6.6

`TypeError: can't pickle _thread.lock objects`

[2018-09-15 15:38] JannikZed commented on #2
Hi there, I was reading through your discussion here and would like to bring it back to live .. We also want to store a large number of signatures in Elastic and are really interested in @ecdeveloper solution to save storage space and make use of the elastic scoring feature. Any chance, we get that merged?
We couldn't find any other solution than your project to find similar pictures.. which is pr

[2018-10-19 07:28] yuezhilanyi opened #101 "generate signature met numpy.core._internal.AxisError"
when i try cal signature of images, i found that some failed with "numpy.core._internal.AxisError".
have you met this?

"""
Traceback (most recent call last):
  File "D:\Anaconda3\lib\multiprocessing\pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "D:\Anaconda3\lib\multiprocessing\pool.py", line 44, in mapstar
    return list(map(*args))
  File "E:\DCMCIS\cal_image_si

[2018-10-19 08:48] yuezhilanyi commented on #101
found the reason
PIL sees two frames in the image.
[image read by skimage.io.imread have the wrong shape](https://github.com/scikit-image/scikit-image/issues/2406#issuecomment-271472754)

[2018-10-29 05:39] AmyWANGC opened #103 "try to add_image with multiprocessing.Pool don't work"
Here is my test code：

`

import multiprocessing
import time
import elasticsearch
from image_match.elasticsearch_driver import SignatureES
es = elasticsearch.Elasticsearch()
es.indices.create('tester5')
ses5 = SignatureES(es, index='tester5')

def func(i,line):
    try:
        ses5.add_image(line.strip())
        print i
        return i
    except Exception,Argument:
        print "Exception: %s

[2018-11-01 11:35] rhsimplex commented on #103
Could be something with pickling the DB connection.  Try using a [pool with an initializer](https://docs.python.org/3.4/library/multiprocessing.html?highlight=process#module-multiprocessing.pool) and create the `ses5` object within the spawned process.

[2018-11-11 08:06] NickYadance opened #104 "Can we get original image from signature?"
Say someone gets the signature of a picture , it that possible that he get the original image by processing the signature???

[2018-11-12 10:35] vrde commented on #104
@NickYadance short answser: no.

Even if it's not possible to reconstruct the original image, the image signature does not have the same properties of a [hash function](https://en.wikipedia.org/wiki/Hash_function). The image signature contains information like: "this area is brighter than this other area", so there is some information leakage.

Think of the image signature as a really really downs

[2018-11-13 13:21] Debadarsini opened #105 "Elastic Search query can be modified to improve performance on search image"
Currently the query which searches for images, makes an or query on 66 attributes. This can be merged to one attribute and query on only one attribute , that will improve performance.

[2018-11-14 18:19] excerebrose commented on #105
See https://github.com/EdjoLabs/image-match/pull/83

[2018-11-27 23:22] excerebrose commented on #95
Hey @Hyperclaw79 Sorry for the late reply, at the moment the URL handling is done by skimage.io.imread, you can use the the bytestream option to predownload them image and then generate the signature
[code]

[2018-11-27 23:36] excerebrose opened #106 "Requirement of ImageSignature() with img=bytes & bytestream=False"
The function `preprocess_image` in `goldberg.py` has a use case when `bytestream=False, img_or_path=<bytes>` -> from line 226:
[code]
I have tried to understand where this could be applicable as an edge case and fail to do so?
In the scenario where I think it might be relevant is if someone does something like:
[code]
But that would just lead to an error.

[2018-11-28 06:15] NickYadance commented on #104
@vrde thank u for ur answer. got it now

[2018-11-28 06:16] #104 closed, assigned to nobody

[2018-11-28 07:21] Hyperclaw79 commented on #95
Thanks, I'll give it a try.

[2018-11-28 07:21] #95 closed, assigned to nobody

[2018-11-29 06:52] Debadarsini commented on #105
Why is it not merged?

[2019-02-14 02:18] taylorjdawson commented on #105
@Debadarsini good question but it looks like some checks failed Travis

[2019-02-14 02:24] taylorjdawson commented on #13
I am unable to pull the docker file -- the issue may need to be reopened.

[2019-02-21 16:39] bhavikshah1995 commented on #72
Page not found - Could you please reiterate how to remove images from the index, and also possible functions I can use with ses?

[2019-02-21 16:51] bhavikshah1995 commented on #93
+1

[2019-02-21 20:31] bhavikshah1995 opened #108 "How do I clear the image index so I can add another set of images?"
I'd like to avoid redundancy of the same images appearing multiple times upon matching. Is there any way we can remove images, or completely empty the image index?

Edit:
As of now I'm having to use Curl to XDELETE the elasticsearch localhost, and load all images again, as this seems to be an elasticsearch related issue.
I'd still be glad if some functionality to remove images from index were intr

[2019-02-21 22:18] bhavikshah1995 opened #109 "Completely fails to detect cropped versions of images added to index"
I tried searching for cropped versions of images that were added to the index, but the results were completely off, such that the original image from which I had cropped the search image didn't even make it (even after extending distance_cutoff to 0.80). Is there any way we can work around this issue or is this a flaw in the algorithm itself that cannot be easily fixed?

[2019-02-22 12:16] duhaime commented on #109
@bhavikshah1995 could you post some example images before and after the crop?

Could you also post the minimal code you're using to process your images?

I have identified hundreds of thousands of matching images that involve crops with image-match, but my data consisted mostly of line drawings.

[2019-02-22 14:53] bhavikshah1995 commented on #109
@duhaime
Here are some examples in the order of uncropped image in the index and cropped image being searched:

![i0a2fd597128c11db9780000d60993453_uncropped](https://user-images.githubusercontent.com/46719531/53249125-01c4d700-367d-11e9-85a8-b1f1ff2d229e.png)
![gyrotonic_cropped](https://user-images.githubusercontent.com/46719531/53249144-0ab5a880-367d-11e9-94a9-7f5c97fbe583.png)

![i0a6da9427b60

[2019-02-22 17:54] taylorjdawson commented on #108
@bhavikshah1995 since you have the `elasticsearch` instance right in your code you can do this:
[code]

See [this line](https://github.com/miqwit/image-match/blob/0b407287e90498b85f8d33b89ffe8a904b3a2c91/tests/test_elasticsearch_driver_speed.py#L97)

[2019-02-22 19:17] bhavikshah1995 commented on #108
@taylorjdawson That works well, thank you!

[2019-02-22 19:17] #108 closed, assigned to nobody

[2019-02-22 19:21] bhavikshah1995 commented on #72
#108

[2019-02-22 20:15] taylorjdawson commented on #72
#108 would delete an entire index I think @walidsa3d want's to delete a single image.
I also think this is out of the scope of `image-match`. Adding and searching images need wrappers since it deals with the signature algorithm.
Try this:
[code]
The `doc_type` and `index` parameters are set by `image-match` [here](https://github.com/EdjoLabs/image-match/blob/1c5f3170555540bdf43ff8b8189c4e8c13a8b95

[2019-02-22 21:56] Clickbaitcake commented on #13
Yes same here, please could you guys update the Docker repo?

[2019-02-22 21:56] Clickbaitcake opened #110 "Docker error"
When pulling the Docker image I get the following errors:

`docker: Error response from daemon: pull access denied for ascribe/image-match, repository does not exist or may require 'docker login'.
`

[2019-02-22 23:09] Clickbaitcake opened #111 "TransportError when adding images to Elastic DB"
When I try to run: `ses.add_image('https://c2.staticflickr.com/8/7158/6814444991_08d82de57e_z.jpg')`

I get an error that seems like the Python files are missing? Am I correct?

`>>> ses.add_image('https://c2.staticflickr.com/8/7158/6814444991_08d82de57e_z.jpg')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/user/.local/lib/python2.7/site-packages/image_matc

[2019-02-23 13:51] taylorjdawson commented on #111
Looks like a connection a connection error? Does it output the http status code anywhere?

[2019-02-23 13:56] taylorjdawson commented on #110
The docker image doesn't exist but you can do this in the meantime:
[code]

[2019-02-25 08:39] rhsimplex commented on #13
Yeah I see that it's gone, looks like ascribe organization has vanished.  @excerebrose I have requested access to set up the dockerhub link to this repository.  Then the references in the docs and `docker-compose.yml` will have to be changed.

[2019-02-25 08:41] rhsimplex commented on #109
I'm surprised the AAD example didn't work, but the others are simply to extreme for this algorithm.  You can try lowering the match thereshold, but I'm certain the other three examples will never work.

[2019-02-25 08:41] #109 closed, assigned to nobody

[2019-02-25 08:41] rhsimplex commented on #110
Duplicates #13

[2019-02-25 08:41] #110 closed, assigned to nobody

[2019-02-25 08:43] rhsimplex commented on #106
I believe it was related to: https://github.com/dsys/match/pull/2

[2019-02-25 15:21] bhavikshah1995 commented on #109
@rhsimplex
You mention in issue #40 that the algorithm is theoretically capable of heavy cropping. Is there any way you could shed some light on how one can go about implementing this?

[2019-03-08 01:05] markusressel commented on #97
I use it with elasticsearch 6.3.1 without any issues... I would really like to bumb the version too.
Is there any reason not to do this?

[2019-03-08 01:34] fabito commented on #97
AFAIR no specific reason. If the tests are passing I don't see why we shouldn't upgrade.

[2019-03-08 02:05] markusressel commented on #97
I did not run tests (haven't even cloned this repo so far), but I use it in my own little library without any issues. Currently I just set the elasticsearch version in my `setup.py` to enforce the newer version.

[2019-03-08 09:18] #13 closed, assigned to nobody

[2019-03-26 21:44] olirice commented on #111
The latest version of image_match on pypi uses an old version of elasticsearch with iffy error messages. Try installing image_match from source to get a newish version of elasticsearch and it might give you a more helpful error

I ran into this error after accidentally changing the doc type from "images" to "image" on the index.

[2019-03-27 20:40] randolchance opened #112 "'ascii' codec can't decode byte 0xc6 in position 0: ordinal not in range(128)"
Hey there,

Let me say up front that I'm far from the most experience coder. But I'm doing my best! Let me also say that this is more likely not to be an issue with image-match. but rather my inexperience, so I completely understand if this is not something you have interest in helping me resolve.

I've had some good success with image-match over the past week, but lately I've been having a really

[2019-03-28 13:05] randolchance commented on #112
Update:

I've actually managed to use both the path and bytestream methods to add and match images from the console and using the same Python environment that my Flask app runs in, but if I use EITHER the path or bytestream in ses.search_image within my running Flask app, it gives me the error I mention above.

[2019-03-29 10:34] olirice opened #113 "Update pypi for modern dependencies"
The current pypi package 1.1.2 uses elasticsearch 2
Updating the package with current dependencies from master would be a big help in making this easier to add to existing projects that already rely on elasticsearch

Awesome project, thanks!

[2019-04-18 07:59] zhangtaomox opened #114 "Can not install on Python3.7"
Hello, I can't install this package on my computer
system: Mac OS 10.14.1
Python version: Python 3.7
trace:
   numpy/core/src/umath/simd.inc.src:107:13: note: expanded from macro 'LOOP_BLOCKED'
        for(; i < npy_blocked_end(peel, sizeof(type), vsize, n);\
              ~ ^ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    numpy/core/src/umath/simd.inc.src:703:5: warning: comparison of integers

[2019-04-23 21:12] Davidramsey03 opened #115 "Bulk insertion"
The readme suggests that image-match is capable of high speed image insertion into the database.

i have everything working properly, but am only achieving a sustained 3 images per second using the add_image function.

For reference, here's my function I'm using to add currently (walking through subdirectories, adding all images found):

[code]

Is there something I'm doing wrong that's making thi

[2019-04-29 03:53] Davidramsey03 opened #116 "Connect to remote Elasticsearch instance?"
I have this working locally fine, and have built a python GUI for interacting with it, which also works.

I'm working on our deployment plans, and I'd like to have the python app installed on each machine, and the elasticsearch DB remote on a server. Is there somewhere in the code for this that I can set a different location for the ES database? I've looked through and am not finding anything outs

[2019-04-29 07:46] drakerc commented on #115
Are you using an Elasticsearch repository?
When it comes to adding an image, your function looks fine. For me, it takes about 40ms per image and my images are downloaded from an external CDN (and I also have an additional step that searches my Elastic for duplicates before insertion as I'm only adding unique images), so 3 images per second sounds really slow.

Are you using Windows? As far as I kn

[2019-04-30 02:26] Davidramsey03 commented on #115
Thanks for the advice.

I actually wrote and tested several variants using your advice, and tried it on 2 devices (laptop and desktop), and on 2 OS's (windows and linux). Turns out my windows install on my desktop vastly outperforms the laptop install, and the os.scandir / os.walk are actually similar in performance to each other.

On the more powerful desktop machine, in windows, the same code is

[2019-04-30 06:55] drakerc commented on #116
I'm not sure if that's what you mean, but you configure your Elasticsearch instance when initializing the SignatureES.
E.g.:

[code]

Then you use ses to do everything, like `ses.add_image()` or `ses.search_image()`

[2019-04-30 14:24] Davidramsey03 commented on #116
Hey there, yeah that's exactly what I meant.

Just last night I finally managed to get it connected. I had the idea of following the imports back to elasticsearch module and seeing what was there. That led to some great info. I just wish there was some more documentation so I didn't have to spend so much time digging for the project, but at least it's working now. Thanks for your help.

If anyone

[2019-04-30 14:24] #116 closed, assigned to nobody

[2019-04-30 14:24] #115 closed, assigned to nobody

[2019-05-29 06:27] alphacr commented on #114
Linux 16.04 user here and I'm having the same problem. did you happened to find a solution?

[2019-06-13 08:06] fanyoujian commented on #13
![image](https://user-images.githubusercontent.com/10875463/59414976-38258e00-8df5-11e9-8f63-9f73043b1d94.png)

[2019-06-13 08:08] fanyoujian commented on #13
Error response from daemon: pull access denied for ascribe/image-match, repository does not exist or may require 'docker login'
, now  i try  docker build -t image-match .  , this ok?

[2019-06-13 08:13] rhsimplex commented on #13
Looks like Ascribe has deleted their dockerhub repositories.  I have no control over that.  Maybe @ttmc can tell us what happened?

Anyway, the best solution is for @excerebrose to add this to a EdjoLabs repository and update the references.

[2019-06-13 08:18] fanyoujian commented on #13
first  git clone https://github.com/EdjoLabs/image-match.git   or git clone https://github.com/ascribe/image-match.git

next : cd image-match

next: docker pull ascribe/image-match

than err:
Error response from daemon: pull access denied for ascribe/image-match, repository does not exist or may require 'docker login'

so, next what i shoud do ?

------------------ 原始邮件 ------------------
发件人: "sh

[2019-06-13 09:26] ttmc commented on #13
@rhsimplex is correct: ascribe (the Docker Hub organization) deleted all its repositories (in Docker Hub) and Docker images, so trying to do `docker pull ascribe/something` won't work any more.

The old ascribe/image-match GitHub repository was transferred to EdjoLabs so it has a new name: EdjoLabs/image-match, i.e. _this_ repository.

All the code is here. You don't need any Docker thingies or wh

[2019-06-13 11:14] fanyoujian commented on #13
I try this,but it no success; Can you give me the next steps in detail? thinks

------------------ 原始邮件 ------------------
发件人: "shiyuan"<notifications@github.com>;
发送时间: 2019年6月13日(星期四) 下午5:26
收件人: "EdjoLabs/image-match"<image-match@noreply.github.com>;
抄送: "慢半拍"<1620683945@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [EdjoLabs/image-match] Docker image not found (#13)

@rhsimplex is co

[2019-06-13 11:38] ttmc commented on #13
@fanyoujian  I don't know what you tried or how it failed. If you can share _that_, then I might be able to help.

[2019-06-13 11:43] fanyoujian commented on #13
next this my step:

1 python3.6.3. install

2 docker install

3
	$ pip install numpy
	$ pip install scipy
	$ pip install image_match

	git clone https://github.com/ascribe/image-match.git

	cd  image-match

	$ pip install numpy
	$ pip install scipy
	$ pip install .

	docker pull ascribe/image-match

	last depart  this err :docker: Error response from daemon: pull access denied for ascribe/image-ma

[2019-06-13 14:53] ttmc commented on #13
As noted above, you don't need to do any Docker anything. Try this (and only this):

[code]
and if that fails then please copy and paste the error messages here.

[2019-06-14 05:12] fanyoujian opened #118 "Read timed out"
#demo.py

from elasticsearch import Elasticsearch
from image_match.elasticsearch_driver import SignatureES

es = Elasticsearch('http://localhost:9200')
ses = SignatureES(es)

ses.add_image('http://images-new.123rf.com.cn/450wm/grycikua/grycikua1610/grycikua161000013.jpg')

when i run python demo.py err:

raise ConnectionTimeout('TIMEOUT', str(e), e)
elasticsearch.exceptions.ConnectionTimeout: Conn

[2019-06-14 05:13] fanyoujian commented on #13
#demo.py

from elasticsearch import Elasticsearch
from image_match.elasticsearch_driver import SignatureES

es = Elasticsearch('http://localhost:9200')
ses = SignatureES(es)

ses.add_image('http://images-new.123rf.com.cn/450wm/grycikua/grycikua1610/grycikua161000013.jpg')

when i run python demo.py err:

raise ConnectionTimeout('TIMEOUT', str(e), e)
elasticsearch.exceptions.ConnectionTimeout: Conn

[2019-06-14 05:26] #118 closed, assigned to nobody

[2019-06-14 07:50] ttmc commented on #13
@fanyoujian Is Elasticsearch running on your system (and healthy)? One way to check is to do this on the command line:

[code]

[2019-06-14 10:19] fanyoujian commented on #13
Hello,thinks for you help;
Can't I search the detailed graph directly? but i find now it can't image_match search for similar images at present? Must I upload to es before I can search?

------------------ 原始邮件 ------------------
发件人: "shiyuan"<notifications@github.com>;
发送时间: 2019年6月13日(星期四) 晚上10:53
收件人: "EdjoLabs/image-match"<image-match@noreply.github.com>;
抄送: "慢半拍"<1620683945@qq.com>;"Mention

[2019-06-14 11:26] ttmc commented on #13
The information about an image must be in Elasticsearch or you'll never find it there.

If you want to search the whole World Wide Web for similar images, then try:

- https://images.google.com/
- https://tineye.com/

[2019-06-26 10:49] Amoko opened #119 "What's the advantage to using L2 norm instead of Hamming norm?"
the code in function ''normalized_distance(_a, _b)'':
[code]

[2019-07-01 08:27] ramharsha-pe opened #120 "How do I search an image with a metadata ?"
I want to find an image in the elastic search index along with a filter on the metadata,

how do I pass along the path of the image in this query.

ses.es.search('images', body={'query': {'match': {'metadata.things': 'stuff!'}}})

[2019-07-11 09:30] TANJX commented on #114
Windows 10 here same problem

[2019-07-20 01:17] fu123456 opened #121 "How to install Manjaro system (Archlinux)"
Hi, according to your install instruction from source code, I tried to install in my Manjaro system, but it seems to not be correctly installed. Any errors did not be showed. And I cannot fine any bin files of the package image_match. So can you provide the install instruction for Manjaro system? Thanks.

[2019-07-22 05:20] arnavkagrawal commented on #119
As per the paper based on which this code is implemented ([An image signature for any kind of image, Wong et al](http://www.cs.cmu.edu/~hcwong/Pdfs/icip02.ps)):

[2019-07-23 08:30] Amoko commented on #119
I got it! thx bro.

[2019-07-23 13:22] francescolorussi opened #122 "TypeError: super(type, obj): obj must be an instance or subtype of type"
I've installed image-match with requirement 'elasticsearch>=6.0.0,<7.0.0', as I got the same error as in issue #88 . Now what I get is:

`from elasticsearch import Elasticsearch
from image_match.elasticsearch_driver import SignatureES

es = Elasticsearch()
ses = SignatureES(es)

ses.add_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_ret

[2019-07-25 16:18] #122 closed, assigned to nobody

[2019-08-02 10:18] wuqueshan commented on #53
ses = SignatureES(es, **distance_cutoff=0.3**)
You can try this.

[2019-09-26 19:49] nvtu opened #124 "Wrong P x P square centered coordinate computation"
As mentioned in the paper, the P x P square at the grid point need to be centered. However, the implementation in **compute_mean_level** in **goldbert.py** file of the P square starting coordinates seem wrong.
`lower_x_lim = int(max([x - P/2, 0]))`
`lower_y_lim = int(max([y - P/2, 0]))`
The correct one should be:
`lower_x_lim = int(max([(x - P)/2, 0]))`
`lower_y_lim = int(max([(y - P)/2, 0]))`

[2019-10-01 08:02] lena-kru opened #125 "Add local image"
Hi!

Is it possible to add an image with local path from your PC, not just link from the insternet?

[2019-10-22 10:36] HoracceFeng opened #126 "ElasticSearch blocks my way"
Hi @EdjoLabs, thanks first for the share. I am now doing image matching related projects. I have done one based on resnet/efficientnet, and would like to try yours. However, things then get weird when I run the code. See the syntax error below.

I know this one should be from `elasticsearch` and also try the solution mentioned in #43 (use elasticsearch==2.4.0) , but still, it doesn't work

My OS:

[2019-10-30 19:49] augustbjornberg commented on #126
Having the same issue.

[2019-12-18 03:40] wingloong commented on #77
Hi @phoenix-mstu
I solved this problem by simply comment "from multiprocessing.managers import Queue as managerQueue" and replace managerQueue.Queue() with Queue().

[2019-12-30 10:42] wings0820 opened #128 "ConnectionTimeout: ConnectionTimeout caused by - ReadTimeoutError(HTTPConnectionPool(host='localhost', port=9200): Read timed out. (read timeout=10))"
the demo.py as follows:
from elasticsearch import Elasticsearch
from image_match.elasticsearch_driver import SignatureES

es = Elasticsearch()
ses = SignatureES(es)
ses.add_image('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg/687pxMona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg')

it is absolutely orignal code in https

[2020-01-06 14:01] tantao14 commented on #125
replace the url with the abspath of your image

[2020-01-28 22:27] #124 closed, assigned to nobody

[2020-05-13 15:32] gwd666 opened #130 "skimage `imread` as_grey vs as_gray"
Just to let you know, make you aware that based on https://stackoverflow.com/questions/58993530/typeerror-self-open-got-an-unexpected-keyword-argument-as-grey-python I ran into that same issue ...
it may require, at least this fixed it for me, a small tweak in goldberg.py
to line 239 and 246
from `return imread(image_or_path, as_grey=True)` to `return imread(image_or_path, as_gray=True)`

Otherwis

[2020-06-03 17:20] 6796nfPU commented on #128
I tried to get elasticsearch running, no issues anymore afterwards:

[https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-install.html](https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-install.html)

[2020-06-18 01:36] JavisPeng commented on #130
you need reinstall the scikit-image
[code]

[2020-06-18 15:40] gwd666 commented on #130
Since [I think] they changed the parameter naming in scikit-image 0.15 I get your advice.;
I am on scikit-image 0.17.1 - with the small above tweak to the `imread` calls it is no big deal;
would there be any other reason for downgrading by ~6 versions, issues with 0.17 and your code I am not aware of?
Otherwise it could just benefit others if we leave this ticket open, in case someone else runs in

[2020-06-24 22:27] luzer opened #131 "Using Image-Match with Real-Time/Live/Video Stream?"
hi
Love this product
Is it possible to use image-match against a live-stream of video (or web camera), for a group of templates/matches? ie, not just trying to match a static image.

(kinda like this - https://www.pyimagesearch.com/2015/01/26/multi-scale-template-matching-using-python-opencv/ )

CJ

[2020-06-26 10:05] harshit99-cyber commented on #114
hey stuck with this same problem

[2020-07-09 13:36] InfiniteGH commented on #131
hi
did you happened to find a solution?

[2020-08-18 21:32] luzer commented on #131
I ended up using pHash that is part of the mtg_card_scanner repo. Pretty fast

[2020-08-26 13:06] torta24x opened #135 "Issue installing on python 3.7 conda env"
Sorry for the long error log,
This error log is same on macos as well as ubuntu 18.04
I am using mini conda with python 3.7
**Note: It worked when I created a new conda env with python=3.6 on both mac and ubuntu os.**

The issue is with building scikit-image wheel.

[code]

Error log if you are intrested.
[code]

Could any one help me out with this ?

[2020-09-12 15:35] sillydan1 commented on #135
I have the same issue as well

[2020-09-14 09:59] sillydan1 commented on #135
I fixed this issue by changing the version of scikit-image to be a minimum of 14 in the `install_requires` field in the `setup.py` file. This seems to have been fixed already in commit dbc7c6074174fc82cd783b71d546e6049c592c04 and merged in 33273eb2e9d96d39f881ad2119ec38221eb1ed16 , but for some reason it wasn't present in the master branch for me (maybe I missed something? ¯\\\_(ツ)\_/¯ )

[code]

[2020-11-25 08:43] Yassir-EL-HOUSNI opened #138 "cut_distance"
@rhsimplex  Can you please explain the effect of "cut_distance" when I try with the same set of data with different value of "cut_distance" 0.45,0.6, 0.9 , 2 I get wrong values in images_search  and a lot of FP.

[2020-11-27 06:05] Kencho5 opened #139 "fails to pass a sanity check due to a bug in the windows runtime"
![image](https://user-images.githubusercontent.com/53686164/100416422-e085eb80-3097-11eb-9c5f-e5d7dc49f400.png)
trying to run this code but gives me an error:
![image](https://user-images.githubusercontent.com/53686164/100416453-f3002500-3097-11eb-941e-9cc803b827c7.png)
already tried to install numpy 1.19.3 version. still doesn't work.

[2020-12-14 16:40] Sandermfc opened #140 "Failure when running this function through pytest"
My code calls `image_match.signature_database_base.get_words` directly. I am getting this failure during pytest unit tests:
[code]

I have solved this locally by simply adding `refcheck=False` to the resize line. However, [https://stackoverflow.com/questions/20730366/numpy-resize-method](url) seems to suggest that using a temp buffer in this way may not be appropriate.

[2020-12-21 23:25] darkfader commented on #130
so we all just stick to old versions now?

[2021-01-09 19:08] smallevil opened #143 "Will the face search function be added?"
Are there any plans to increase the face recognition search function?

[2021-01-19 11:21] cogniti75 opened #144 "Mongo search is slow"
I have about 2000 pictures in the database.

Searching ses.search_image takes 3-5 seconds. Is it possible to speed it up somehow? I plan to compare almost a million images.

Is Elasticsearch faster?

[2021-03-26 09:10] selected-pixel-jameson opened #145 "Is this still maintained?"
I'm just wondering if this project is still being maintained and updated? It looks like there hasn't been a new release since 2017. However, it looks like there was a commit in January 2020 to master.

[2021-04-05 14:32] #145 closed, assigned to nobody

[2021-05-03 20:26] jhagege opened #146 "New release compatible with Python 3.7"
Hi, is it possible to release a new version on Pypi with the content from 'master' branch ?
I have noticed the scikit-image is compatible with Python3.7 on master branch but not on latest tag (1.1.2).
Thanks !

[2021-05-18 13:08] rhsimplex commented on #145
Hi @selected-pixel-jameson, I no longer maintain image match. I merged some cosmetic/documentation PRs in Jan.

[2021-06-19 19:50] jose1711 commented on #130
I haven't see any issues with a manually patched version either.

[2021-07-18 10:51] Hiyorimi opened #147 "Broken link to Pavlov in the readme"
Hey, I think the link is broken

[2021-08-25 14:02] tteguayco opened #148 "Bulk insert of images on ElasticSearch"
Hi guys,

First of all, thanks for this library. I came across with it today and it's amazing.

Inspecting the source code I see that, when storing images on ElasticSearch, images' signatures are calculated beforehand and then stored on the database via the method ```ses.add_image()```.

I wonder if this could be an inconvenient in order to implement some kind of bulk insertion of images on Elasti

[2021-11-12 05:38] WathikAhmed commented on #13
Same issue.

`docker pull ascribe/image-match
Using default tag: latest
Error response from daemon: pull access denied for ascribe/image-match, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`

I can clone the repo, and then do this:
`docker build -t image-match.`

and it works to create the image:
<img width="538" alt="Screen Shot 2021-1

[2021-11-12 06:08] WathikAhmed commented on #110
Same issue.

`docker pull ascribe/image-match
Using default tag: latest
Error response from daemon: pull access denied for ascribe/image-match, repository does not exist or may require 'docker login': denied: requested access to the resource is denied`

I can clone the repo, and then do this:
`docker build -t image-match.`

and it works to create the image:
<img width="538" alt="Screen Shot 2021-1

[2021-11-23 10:11] meassinal opened #150 "Link to get 80M images is FORBIDDEN"
Hi,
I would like to experience `image-match` but I couldn't access to download images mentioned in the document. The link is forbidden.

Could you suggest where I could have images to play with? Thanks in advance.

[2021-11-30 14:39] Kencho5 opened #151 "Fast Insert"
as you mentioned in the readme, it states that it can easily scale up to billions of images, but i'm having a hard time inserting a lot of images in elasticsearch. i've tried to do it with multiprocessing, threading and even async too, but given that i have around 160 million images it's still slow. any suggestions on how i can insert those images a bit faster?

[2021-11-30 21:46] kurnal-volt opened #152 "setup.py fails when installing scikit-image everytime"
if it already exists it uninstalls it and then fails. if it does not exist it fails when trying to install it for some reason.

[2021-12-06 14:31] Kencho5 commented on #86
hello, have you figured out how to insert images in an efficient way? if so could you tell me which method you used?

thanks.

[2021-12-23 13:54] hugosev commented on #152
Same problem here, have you found any solution?

[2022-01-26 07:30] faizan170 commented on #125
Local path is not working

[2022-02-04 07:44] connerkward commented on #152
I got it past this problem by using Python 3.6. However, due to some problems with elasticsearch versions, I do not yet have it running.

[2022-02-04 19:50] connerkward commented on #126
I got around this by using the Dockerized version dsys/Match. Then I had to change one of the default environment variables to get it to play nicely with its Elasticsearch.

[2022-02-17 22:28] moshaver71 opened #153 "Error on search_image"
Hi
I want to use search image method. but i get the below error.
Can you please help me?

[code]

[2022-02-19 11:21] moshaver71 commented on #153
I solved my problem.
You should make the below change on signature_database_base.py.
replace `transformed_record = make_record(img, self.gis, self.k, self.N)` with `transformed_record = make_record(path, self.gis, self.k, self.N)` on line 267

[2022-03-03 13:58] selected-pixel-jameson opened #154 "ValueError: the input array must have size 3 along `channel_axis`, got (923, 600)"
When performing a search on the database I'm getting this error.
![Screen Shot 2022-03-03 at 7 55 31 AM](https://user-images.githubusercontent.com/28204537/156578655-d2c71627-e817-4711-b36b-2e240976eae6.png)

I'm running Python 3.8 and had to update the packages to get them to compile. I had to use 3.8 because I'm running on a Macbook Pro M1 and anything lower will not compile. When I use this ver

[2022-03-03 14:43] selected-pixel-jameson commented on #154
Upon further investigation it appears as if this error is being thrown when calling

`return rgb2gray(image_or_path)` on line 257 in the goldberg.py

![Screen Shot 2022-03-03 at 8 42 36 AM](https://user-images.githubusercontent.com/28204537/156587290-1d569bfc-0f23-4ef9-8d7d-9604adf407e9.png)

Thanks again!

[2022-03-03 17:16] selected-pixel-jameson commented on #153
Hi I'm having this issue as well.

You are referencing line 267 but in the master branch the code that you are referencing is located on line 273.

https://github.com/ProvenanceLabs/image-match/blob/master/image_match/signature_database_base.py#L267

Do you have the master branch?

[2022-03-03 17:19] selected-pixel-jameson commented on #153
Are you actually getting accurate results back after changing that line?

[2022-03-03 20:31] selected-pixel-jameson commented on #154
I've got my environment setup using `scikit-image==0.17.2` now and I'm able to run the code as is from the master branch now. However, search results still are not coming back correct.

I'm using ElasticSearch version 7.16 and using the elasticsearch 8.0.0 Python library.

I'm simply trying to get the image indexed to return as a result when searching and similar images, but the images returned ar

[2022-03-03 20:32] selected-pixel-jameson commented on #154
FYI, if there is someone out there who would be interested in helping me with this I'd be more then willing to tip them or some other sort of payment.

[2022-03-03 20:51] selected-pixel-jameson commented on #154
I changed the elasticsearch version to 7.0.0 and reindexed all the images after I got the scikit-image version to 0.17.2 and it is now working! 🎆

[2022-03-04 02:35] selected-pixel-jameson commented on #154
Upon further test this seems to be good at finding the exact same image and images with extremely slight variations, but it seems like it runs into issues when possibly color variations start coming into play? Here is an example.

This is the indexed image.
![](https://cdn.keycollectorcomics.com/media/b1639508853091asm6.jpg)

This is the image I'm using to search with.
![](https://cdn.keycollector

[2022-03-04 04:04] selected-pixel-jameson commented on #154
Interestingly enough this seems to be the same issue logged in this issue https://github.com/ProvenanceLabs/image-match/issues/64.

I'm unable to determine if it was actually resolved or not though.

[2022-03-04 05:32] selected-pixel-jameson commented on #154
It seems now that the issue is the score that is being associated with the results.
If I change the result size to 10,000 the correct images come back. They have the best dist value out of all the images, but many of the other images have a higher score.

Not sure how to resolve this one yet.

[2022-03-04 05:45] selected-pixel-jameson commented on #154
I do not fully understand the vector / word storage in elasticsearch yet, but I'm starting to think that the logic behind this entire project is flawed unless the score is not accurately being calculated for some reason on my end of things.

[2022-03-04 15:49] selected-pixel-jameson commented on #154
I've implemented a dense_vector field on the elasticsearch index at this point and have changed the query for searching to

[code]

Unfortunately this is still not returning an accurate result for the example provided above.

[2022-03-04 16:02] selected-pixel-jameson commented on #154
At this point I'm unable to figure this out. Ultimately the issue boils down to the fact that the score that is being generated is inaccurate when compared to the distance and the results are being ordered by the distance after the query has run.

At this point I think the only option is to literally pull all 500,000 results that will ultimately be in the database as the elasticsearch word query s

[2022-03-26 17:52] A7-4real commented on #154
![channel axis (error) - make_record - error](https://user-images.githubusercontent.com/97912085/160251423-d72cbf67-3770-4785-b0a1-8bbc2c055555.JPG)

@selected-pixel-jameson  I got the same error while performing search on image-search, elasticsearch as a database running on docker

[2022-03-26 18:04] A7-4real commented on #154
![corrected search_image function](https://user-images.githubusercontent.com/97912085/160251674-092c7bac-8e22-4506-b61a-9ff7f75ff978.JPG)

by changing first argument as "path" from "transformed_img" while make_record function in line "273" solves the issue

from this -->  l = self.search_single_record(transformed_record, pre_filter=pre_filter)
to -->   l = self.search_single_record(path, pre_filte

[2022-03-26 18:09] A7-4real commented on #154
Test Dataset -

![test_dataset_faces](https://user-images.githubusercontent.com/97912085/160251896-c3bbaadd-25e2-4d8d-84d4-fe5a217a623c.JPG)

Results -
![Reverse image_search result for women2 with filter 3 after adding filter 1 cmd](https://user-images.githubusercontent.com/97912085/160251942-071612da-7584-45d8-acd8-5a3f73c41f1f.JPG)
![Reverse image_search result for women2 with filter 3 after ad

[2022-03-26 18:12] A7-4real commented on #154
But it still not able to perform search on different orientation of image. What are your views on this?

[2022-04-11 18:10] A7-4real opened #156 "Doesn't support Webp image format."
Error is thrown while adding or searching the WebP image format.
eg -  https://www.boomlive.in/h-upload/2021/12/13/965206-covid-19-omicron-vaccine-booster-shot.webp

![webp image not supported error](https://user-images.githubusercontent.com/97912085/162802424-d1830a10-8a0d-4e7f-8669-6600a41a4c33.JPG)

[2022-04-11 18:28] A7-4real commented on #156
I think this could be solved by updating skimage version

[2022-04-12 09:47] trashmit commented on #151
did you come up with a solution?

[2022-04-13 09:01] Kencho5 commented on #151
yes. made bulk insert script, but don't have it anymore. you have to split functions and use multiprocessing

[2022-05-06 17:26] selected-pixel-jameson commented on #154
@A7-4real I'll have to investigate your solution further. Would require me to revert some changes I've made. Did you ever get the orientation piece working? That part is something I really need to get working.

However, I would point out that the issue I'm having is not something you are going to see with a small dataset.

I ended up reworking the search_single_record function to this.
[code]

 I'